{% extends "base.html.twig" %}
{% block body %}
	{% include('navbar.html.twig') %}
	<div class="container">
		<p>Pour toutes questions, vous pouvez me contacter sur
			<a href="mailto: capelle.jean@gmail.com">capelle.jean@gmail.com</a>
			ou au
			<a href="tel:0603138736">0603138736</a>
        <br>
        <b>Merci</b>.
		</p>
	</div>
{% endblock %}
